@media print {
  body * {
    visibility: hidden;
  }
  .facture-container, .facture-container * {
    visibility: visible;
  }
  .facture-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}