# fly.backend.toml
app = "backend"

[build]
#dockerfile = "Dockerfile.backend"
image = "toutou11/springboot-backend-app:latest"

[env]
SPRING_PROFILES_ACTIVE = "prod"
# La DATABASE_URL sera ajoutée après création de la DB

[metrics]
port = 8081
path = "/actuator/prometheus"

[[services]]
internal_port = 8081
protocol = "tcp"

[[services.ports]]
port = 80
handlers = ["http"]

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[[services.http_checks]]
interval = 10000
grace_period = "5s"
method = "get"
path = "/actuator/health"
protocol = "http"
timeout = 2000

[mounts]
source = "uploads_volume"
destination = "/app/uploads"