<aside
  [class]="isSidebarOpen ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800 dark:bg-black lg:static lg:translate-x-0"
>
  <!-- SIDEBAR HEADER -->
  <div
    [class]="isSidebarOpen ? 'justify-center' : 'justify-between'"
    class="flex items-center gap-2 pt-8 sidebar-header pb-7"
  >
    <a routerLink="/">
<span class="logo" [class]="isSidebarOpen ? 'hidden' : ''">
  <img class="dark:hidden max-w-18 max-h-12 ml-10 mt-0 mb-0 " src="assets/logo-logo.png" alt="Logo" />
  <img
    class="hidden dark:block w-8 h-8"
    src="assets/logo-logo.png"
    alt="Logo"
  />
</span>

      <img
        class="logo-icon"
        [class]="isSidebarOpen ? 'lg:block' : 'hidden'"
        src="assets/logo.png"
        alt="Logo"
      />
    </a>
  </div>

  <div
    class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar"
  >


  <nav *ngIf="isAdminUser()">
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
            [class]="isSidebarOpen ? 'lg:hidden' : ''"
          >
            {{ 'ADMIN MENU' | translate }}
          </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Admin Dashboard -->

          <li>
            <a
              routerLink="/admin"
              (click)="toggleSelected('admin')"
              class="menu-item group"
              [class]="currentPage === 'admin' ? 'menu-item-active' : 'menu-item-inactive'"
            >
<svg
  [class]="currentPage === 'admin' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12.7071 2.29289C12.3166 1.90237 11.6834 1.90237 11.2929 2.29289L3.29289 10.2929C3.10536 10.4804 3 10.7348 3 11V20C3 20.5523 3.44772 21 4 21H8C8.55228 21 9 20.5523 9 20V16C9 15.4477 9.44772 15 10 15H14C14.5523 15 15 15.4477 15 16V20C15 20.5523 15.4477 21 16 21H20C20.5523 21 21 20.5523 21 20V11C21 10.7348 20.8946 10.4804 20.7071 10.2929L12.7071 2.29289ZM5 11.4142L12 4.41421L19 11.4142V19H17V16C17 14.3431 15.6569 13 14 13H10C8.34315 13 7 14.3431 7 16V19H5V11.4142Z"
    fill="currentColor"
  />
</svg>

              <span
                class="menu-item-text"
                [class]="isSidebarOpen ? 'lg:hidden' : ''"
              >
                {{ 'Dashboard' | translate }}
              </span>
            </a>
          </li>

          <li>
            <a
              routerLink="/admin/users"
              (click)="toggleSelected('Users')"
              class="menu-item group"
              [class]="currentPage === 'Users' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                [class]="currentPage === 'Users' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 6C3 4.34315 4.34315 3 6 3H8C9.65685 3 11 4.34315 11 6V8C11 9.65685 9.65685 11 8 11H6C4.34315 11 3 9.65685 3 8V6Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13 6C13 4.34315 14.3431 3 16 3H18C19.6569 3 21 4.34315 21 6V8C21 9.65685 19.6569 11 18 11H16C14.3431 11 13 9.65685 13 8V6Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 16C3 14.3431 4.34315 13 6 13H8C9.65685 13 11 14.3431 11 16V18C11 19.6569 9.65685 21 8 21H6C4.34315 21 3 19.6569 3 18V16Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13 16C13 14.3431 14.3431 13 16 13H18C19.6569 13 21 14.3431 21 16V18C21 19.6569 19.6569 21 18 21H16C14.3431 21 13 19.6569 13 18V16Z"
                  fill="currentColor"
                />
              </svg>

              <span
                class="menu-item-text"
                [class]="isSidebarOpen ? 'lg:hidden' : ''"
              >
                {{ 'User Management' | translate }}
              </span>
            </a>
          </li>

<li>
  <a
    routerLink="/admin/nomenclatures"
    (click)="toggleSelected('Nomenclatures')"
    class="menu-item group"
    [class]="currentPage === 'Nomenclatures' ? 'menu-item-active' : 'menu-item-inactive'"
  >
    <svg
      [class]="currentPage === 'Nomenclatures' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-5-9h10v2H7v-2zm5 5h5v2h-5v-2zm0-10h5v2h-5V6z"
        fill="currentColor"
      />
    </svg>

    <span
      class="menu-item-text"
      [class]="isSidebarOpen ? 'lg:hidden' : ''"
    >
      {{ 'Nomenclatures' | translate }}
    </span>
  </a>
</li>
<li >
  <a
    routerLink="/admin/projects"
    (click)="toggleSelected('AdminProjects')"
    class="menu-item group"
    [class]="currentPage === 'admin/projects' ? 'menu-item-active' : 'menu-item-inactive'"
  >
    <svg
      [class]="currentPage === 'admin/projects' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3 3C2.44772 3 2 3.44772 2 4V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20V4C22 3.44772 21.5523 3 21 3H3ZM4 19V5H20V19H4ZM7 7H17V9H7V7ZM7 11H17V13H7V11ZM7 15H14V17H7V15Z"
        fill="currentColor"
      />
    </svg>
    <span
      class="menu-item-text"
      [class]="isSidebarOpen ? 'lg:hidden' : ''"
    >
      {{ 'Projects' | translate }}
    </span>
  </a>
</li>

<!-- Add this after the Dashboard menu item in the Commercial Metier section -->




        </ul>
      </div>
  </nav>


  <nav *ngIf="isCommercialUser()">
  <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
            [class]="isSidebarOpen ? 'lg:hidden' : ''"
          >
            {{ 'Commercial Metier MENU' | translate }}
          </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Admin Dashboard -->

          <li>
            <a
              routerLink="/commercial"
              (click)="toggleSelected('Commercial')"
              class="menu-item group"
              [class]="currentPage === 'commercial' ? 'menu-item-active' : 'menu-item-inactive'"
            >
<svg
  [class]="currentPage === 'commercial' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12.7071 2.29289C12.3166 1.90237 11.6834 1.90237 11.2929 2.29289L3.29289 10.2929C3.10536 10.4804 3 10.7348 3 11V20C3 20.5523 3.44772 21 4 21H8C8.55228 21 9 20.5523 9 20V16C9 15.4477 9.44772 15 10 15H14C14.5523 15 15 15.4477 15 16V20C15 20.5523 15.4477 21 16 21H20C20.5523 21 21 20.5523 21 20V11C21 10.7348 20.8946 10.4804 20.7071 10.2929L12.7071 2.29289ZM5 11.4142L12 4.41421L19 11.4142V19H17V16C17 14.3431 15.6569 13 14 13H10C8.34315 13 7 14.3431 7 16V19H5V11.4142Z"
    fill="currentColor"
  />
</svg>

              <span
                class="menu-item-text"
                [class]="isSidebarOpen ? 'lg:hidden' : ''"
              >
                {{ 'Dashboard' | translate }}
              </span>
            </a>
          </li>



<!-- Conventions -->
<li>
  <a
    routerLink="/conventions"
    (click)="toggleSelected('Conventions')"
    class="menu-item group"
    [class]="currentPage === 'conventions' ? 'menu-item-active' : 'menu-item-inactive'"
  >
    <svg
      [class]="currentPage === 'conventions' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4 4C2.89543 4 2 4.89543 2 6V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V8C22 6.89543 21.1046 6 20 6H11L9 4H4ZM4 6H9.82843L11.8284 8H20V18H4V6ZM7 10H17V12H7V10ZM7 14H13V16H7V14Z"
        fill="currentColor"
      />
    </svg>

    <span
      class="menu-item-text"
      [class]="isSidebarOpen ? 'lg:hidden' : ''"
    >
      {{ 'Conventions' | translate }}
    </span>
  </a>
</li>


<!-- Factures -->
<li>
  <a
    routerLink="/factures"
    (click)="toggleSelected('Factures')"
    class="menu-item group"
    [class]="currentPage === 'factures' ? 'menu-item-active' : 'menu-item-inactive'"
  >
    <svg
      [class]="currentPage === 'factures' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM5 5H19V19H5V5ZM7 7V17H17V7H7ZM9 9H15V15H9V9ZM11 11V13H13V11H11Z"
        fill="currentColor"
      />
    </svg>

    <span
      class="menu-item-text"
      [class]="isSidebarOpen ? 'lg:hidden' : ''"
    >
      {{ 'Factures' | translate }}
    </span>
  </a>
</li>


<li>
        <a
          routerLink="/conventions/archives"
          (click)="toggleSelected('ArchivedConventions')"
          class="menu-item group"
          [class]="currentPage === 'conventions/archives' ? 'menu-item-active' : 'menu-item-inactive'"
        >
          <svg
            [class]="currentPage === 'conventions/archives' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
         stroke="currentColor" 
  stroke-width="2"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
              fill="none"
            />
          </svg>



 
          <span
            class="menu-item-text"
            [class]="isSidebarOpen ? 'lg:hidden' : ''"
          >
            {{ ' Archive' | translate }}
          </span>
        </a>
      </li>
          

         

        </ul>
      </div>
  </nav>

  
  <nav *ngIf="isChefProjetUser()">
 <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
            [class]="isSidebarOpen ? 'lg:hidden' : ''"
          >
            {{ 'Chef Projet MENU' | translate }}
          </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Admin Dashboard -->

          <li>
            <a
              routerLink="/chef"
              (click)="toggleSelected('chefProjet')"
              class="menu-item group"
              [class]="currentPage === 'chefProjet' ? 'menu-item-active' : 'menu-item-inactive'"
            >
<svg
  [class]="currentPage === 'chefProjet' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12.7071 2.29289C12.3166 1.90237 11.6834 1.90237 11.2929 2.29289L3.29289 10.2929C3.10536 10.4804 3 10.7348 3 11V20C3 20.5523 3.44772 21 4 21H8C8.55228 21 9 20.5523 9 20V16C9 15.4477 9.44772 15 10 15H14C14.5523 15 15 15.4477 15 16V20C15 20.5523 15.4477 21 16 21H20C20.5523 21 21 20.5523 21 20V11C21 10.7348 20.8946 10.4804 20.7071 10.2929L12.7071 2.29289ZM5 11.4142L12 4.41421L19 11.4142V19H17V16C17 14.3431 15.6569 13 14 13H10C8.34315 13 7 14.3431 7 16V19H5V11.4142Z"
    fill="currentColor"
  />
</svg>

              <span
                class="menu-item-text"
                [class]="isSidebarOpen ? 'lg:hidden' : ''"
              >
                {{ 'Dashboard' | translate }}
              </span>
            </a>
          </li>

          

          <li >
  <a
    routerLink="/chef/projet"
    (click)="toggleSelected('projet')"
    class="menu-item group"
    [class]="currentPage === 'chef/projet' ? 'menu-item-active' : 'menu-item-inactive'"
  >
    <svg
      [class]="currentPage === 'chef/projet' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3 3C2.44772 3 2 3.44772 2 4V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20V4C22 3.44772 21.5523 3 21 3H3ZM4 19V5H20V19H4ZM7 7H17V9H7V7ZM7 11H17V13H7V11ZM7 15H14V17H7V15Z"
        fill="currentColor"
      />
    </svg>
    <span
      class="menu-item-text"
      [class]="isSidebarOpen ? 'lg:hidden' : ''"
    >
      {{ 'Projects' | translate }}
    </span>
  </a>
</li>


        </ul>
      </div>
  </nav>

  
  <nav *ngIf="isDecideurUser()">
<div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
            [class]="isSidebarOpen ? 'lg:hidden' : ''"
          >
            {{ 'Decideur MENU' | translate }}
          </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Admin Dashboard -->

          <li>
            <a
              routerLink="/decideur"
              (click)="toggleSelected('decideur')"
              class="menu-item group"
              [class]="currentPage === 'decideur' ? 'menu-item-active' : 'menu-item-inactive'"
            >
<svg
  [class]="currentPage === 'decideur' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12.7071 2.29289C12.3166 1.90237 11.6834 1.90237 11.2929 2.29289L3.29289 10.2929C3.10536 10.4804 3 10.7348 3 11V20C3 20.5523 3.44772 21 4 21H8C8.55228 21 9 20.5523 9 20V16C9 15.4477 9.44772 15 10 15H14C14.5523 15 15 15.4477 15 16V20C15 20.5523 15.4477 21 16 21H20C20.5523 21 21 20.5523 21 20V11C21 10.7348 20.8946 10.4804 20.7071 10.2929L12.7071 2.29289ZM5 11.4142L12 4.41421L19 11.4142V19H17V16C17 14.3431 15.6569 13 14 13H10C8.34315 13 7 14.3431 7 16V19H5V11.4142Z"
    fill="currentColor"
  />
</svg>

              <span
                class="menu-item-text"
                [class]="isSidebarOpen ? 'lg:hidden' : ''"
              >
                {{ 'Dashboard' | translate }}
              </span>
            </a>
          </li>



        </ul>
      </div>
  </nav>


  
  
  
 <div class="flex-grow"></div>

    <!-- Profile and Logout at the bottom -->
 <div class="mt-auto pt-4 border-t border-gray-200 dark:border-gray-800">
  <ul class="flex flex-col gap-4">
        <!-- Profile -->
        <li>
          <a
            routerLink="/profile"
            (click)="toggleSelected('Profile')"
            class="menu-item group"
            [class]="(selected === 'Profile') && (currentPage === 'profile') ? 'menu-item-active' : 'menu-item-inactive'"
          >
            <svg
              [class]="(selected === 'Profile') && (currentPage === 'profile') ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 14.1526 4.3002 16.1184 5.61936 17.616C6.17279 15.3096 8.24852 13.5955 10.7246 13.5955H13.2746C15.7509 13.5955 17.8268 15.31 18.38 17.6167C19.6996 16.119 20.5 14.153 20.5 12C20.5 7.30558 16.6944 3.5 12 3.5ZM17.0246 18.8566V18.8455C17.0246 16.7744 15.3457 15.0955 13.2746 15.0955H10.7246C8.65354 15.0955 6.97461 16.7744 6.97461 18.8455V18.856C8.38223 19.8895 10.1198 20.5 12 20.5C13.8798 20.5 15.6171 19.8898 17.0246 18.8566ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9991 7.25C10.8847 7.25 9.98126 8.15342 9.98126 9.26784C9.98126 10.3823 10.8847 11.2857 11.9991 11.2857C13.1135 11.2857 14.0169 10.3823 14.0169 9.26784C14.0169 8.15342 13.1135 7.25 11.9991 7.25ZM8.48126 9.26784C8.48126 7.32499 10.0563 5.75 11.9991 5.75C13.9419 5.75 15.5169 7.32499 15.5169 9.26784C15.5169 11.2107 13.9419 12.7857 11.9991 12.7857C10.0563 12.7857 8.48126 11.2107 8.48126 9.26784Z"
                fill=""
              />
            </svg>
            <span
              class="menu-item-text"
              [class]="isSidebarOpen ? 'lg:hidden' : ''"
            >
              {{ 'Profile' | translate }}
            </span>
          </a>
        </li>

        <!-- Logout -->
        <li>
          <a
            href="#"
            (click)="logout()"
            class="menu-item group menu-item-inactive"
          >
            <svg
              class="menu-item-icon-inactive"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 2.25C15.4142 2.25 15.75 2.58579 15.75 3V5.25H18C18.4142 5.25 18.75 5.58579 18.75 6C18.75 6.41421 18.4142 6.75 18 6.75H15.75V21C15.75 21.4142 15.4142 21.75 15 21.75H9C8.58579 21.75 8.25 21.4142 8.25 21V6.75H6C5.58579 6.75 5.25 6.41421 5.25 6C5.25 5.58579 5.58579 5.25 6 5.25H8.25V3C8.25 2.58579 8.58579 2.25 9 2.25H15ZM14.25 20.25V3.75H9.75V20.25H14.25Z"
                fill="currentColor"
              />
            </svg>
            <span
              class="menu-item-text"
              [class]="isSidebarOpen ? 'lg:hidden' : ''"
            >
              {{ 'Logout' | translate }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>